<div class="navbar-wrapper">
  <div>
    <a class="nav-link brand-name" href="/">Express</a>
  </div>
  <div>
    <ul class="navbar">
      <li class="navbar-nav"><a class="nav-link" href="/">Home</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/about">About</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/contacts">Contacts</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/students">Students</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/add-student">Add Student</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/api">API</a></li>
    </ul>

  </div>
 
</div>
