<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/add-student">Add Student</a></li>
    <li><a href="/api/v1/students">API</a></li>
</ul>