<div class="navbar-wrapper">
  <div class="first-item">
    <a class="brand-name" href="/">Express</a>
  </div>
  <div>
    <nav class="navbar">
      <li class="navbar-nav"><a class="nav-link" href="/">Home</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/about">About</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/contacts">Contacts</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/students">Students</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/add-student">Add Student</a></li>
      <li class="navbar-nav"><a class="nav-link" href="/api">API</a></li>
    </nav>

  </div>
  
</div>
