/* 
=== GENERAL ===
 */
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  overflow-y: scroll; overflow-x:hidden;
  

}
::selection{
  color:orange;
}
/* 
=== wrapper for header, main and footer ===
 */
.wrapper{
  min-height: 100%;
  position: relative;
letter-spacing:1.25px;
}
/* 
=== HEADER ===
 */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:10px 0px;
  background: rgb(37, 36, 36);
  color:white;
  min-height: 300px;;
  font-size: 130%;

}
/* 
=== MAIN ===
 */
main {
  padding: 10px ;
  padding-bottom: 150px;
  margin: 0 30px;
  font-size: 150%;

}
article {
  width:85%;
  margin-left:30px;
  color: rgb(85, 85, 85);
  font-size:24px;
}
/* 
=== TITLES ===
 */
h3 {
background: rgb(48, 47, 47);
margin: 25px auto;
padding:10px;
color:white;
font-weight: 100;
border-radius: 5px;
text-align: center;
width: 90%;
text-transform: uppercase;
color:rgb(167,167,167);

}
h3:hover {
  color:white;
}
/* 
=== IMAGE ===
 */

img {
  max-width: 75%;
  min-width: 75%;
  margin:5px;
  padding:10px;
  box-shadow: 0px 0px 6px 2px rgb(241, 237, 237);
}
/* 
=== HEADER nav ===
 */
 .navbar-wrapper{
   width:95%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .navbar-wrapper > div {
   width:50%;
   margin:5px;
 }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  color:white ;
}
.navbar-nav{
  list-style-type:none;
  display: block;
  min-width:120px;
  text-align:center;
  padding:5px;
  margin:3px;
   border:1px solid rgba(251, 164, 3, 0.1);
}
.nav-link{
  font-size:20px;
  color:white ;
  text-decoration: none;
  text-transform: uppercase;
  
}
.nav-link:hover{
  color:#222;
  border-bottom: 2px solid orange;
  color:white ;
 
}
.brand-name{
  font-family: "Helvetica neue", "open sans", sans-serif;
  font-size: 38px;
 color:rgb(167,167,167);
 background: rgb(48, 47, 47);
 padding: 5px;
 border-radius: 5px;
 text-align: center;
 text-decoration: none;
 cursor: pointer;
 
}
/* 
=== Add FORM ===
 */
 .form-row{
  width:45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}
.form-group{
  display: flex;
  flex-direction: column;
  margin:10px;

}
form {
  margin:auto;
}
input {
 height: 45px;
 padding:3px;
 width:100%;
 margin: 3px;
 text-indent: 10px;
 outline: none;
 border-radius: 3px;
 border:1px solid rgb(167,167,167);
 font-size:18px;
}
input::placeholder{
  font-weight: 300;
}
input:focus, input:hover, textarea:focus, textarea:hover{
  border:1px solid orange;
}
textarea{
  width:100%;
  height:100px;
  outline: none;
   border-radius: 3px;
   padding:10px;
   font-size:18px;
   resize: none;
    border:1px solid rgb(167,167,167);

}


/* 
=== button ===
 */

.btn{
 width:120px;
 height:40px;
 outline: none;
 border-radius: 3px;

}
/* 
=== images wrapper===
 */
.web-tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.web-tech > div {
  width:25%;
  margin:10px;
}
/* 
=== code block ===
 */
pre{
  font-family: Consolas,Monaco,andale mono,monospace;
    padding: 5px 10px;
    background: #fff;
    border:1px solid rgb(240, 237, 237);
    border-radius: 3px;
    min-width: 325px;
    max-width:450px;
    color:rgb(167,167,167)
}
pre:hover {
  color:rgb(139, 191, 235);
}
/* 
=== in students.ejs page ===
 */
.student-link{
  text-decoration: none;
  padding: 0;
  color:#222;

}
/* 
=== student name ===
 */
.student-name {
  background-image: linear-gradient(to right, #222 , rgb(233, 122, 71));
   font-size: 24px;
}
/* ICONS */
.icons > a {
  display: block;
  width:50%;
  color:rgb(167,167,167);
}
.fa-trash-alt, .fa-edit {
  font-size: 28px;
  color:rgba(189, 186, 186,0.75)

}
.fa-edit:hover {
  color:rgb(113, 187, 247);
}
.fa-trash-alt:hover {
  color:rgb(236, 112, 99);
}
.icons {
  width:100px;
  display: flex;
  box-shadow:0px 0px 1px 1px rgb(243, 240, 240);
  justify-content: space-around;
  align-items: center;
  padding:5px;
  border-radius: 3px;

}
/* LINKS */
.link {
  text-decoration: none;
  border-bottom: 1px solid orange;
  padding: 5px;
  color: rgb(85, 85, 85);
}
.link:hover {
  background:orange;
  
}
/* UL FOR LIST */
.ul-list{
  position: relative;
}
.list {
  list-style: none;
  margin-left: 5px;
  line-height: 40px;
}
.list::before {
  position: absolute;
  left:0px;
  content: '';
  display:inline-block;
  width: 35px;
  height:35px;
  background-image: url(../assets/images/node-list-style-image.png);
  background-size: cover;
}

/* 
=== FOOTER ===
 */
footer {
 display: flex;
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 150px;
 background: rgb(37, 36, 36);
 align-items:center;
}



/* 
mobile version 
media query
*/
@media screen and (max-width: 600px) {
  .navbar-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:95%;
  }
  .navbar-nav {
    width:100%;
  }
   .navbar-wrapper > div {
   width:100%;
   margin: 0;
   padding:0;
 }
 .first-item {
   text-align: center;
    color:rgb(167,167,167);
 background: rgb(48, 47, 47);
 }
  
  .brand-name{
 padding: 0;
 border-radius: 0;
 font-size: 32px;

}
 
  main{
    margin:0
  }
  h3{
    font-size:18px;
    width:100%;
  }
  .web-tech {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-row {
    width: 100%;
  }

  article {
    font-size: 18px;
  }
  
}
