<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Node Express API</title>
  </head>
  <body>
    
    <div class="wrapper container-fluid">
      <header class="jumbotron text-center">
        <% include ../partials/navbar %>
        <h3>About Express</h3>
      </header>
      <main class="container">
        <p>Learn more about <a href="https://expressjs.com/">Express</a></p>
        <pre> $ npm install express --save </pre>

      </main>
      <!-- footer -->
      
      <% include ../partials/footer %>

     
    </div>
  </body>
</html>
