<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Node Express API</title>
  </head>
  <body>
    
    <div class="wrapper container-fluid">
      <header class="jumbotron text-center">
        <% include ../partials/navbar %>
        <h3>About Express</h3>
      </header>
      <main class="container">
        <h4>Express</h4>
        <p class="about-express">
          Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and
          mobile applications.
        </p>
        <p>Necessary pacakges to build this application:</p>
        <pre> $ yarn add express</pre>
        <pre> $ yarn add body-parser</pre>
        <pre> $ yarn add mongoose </pre>
        <pre> $ yarn add ejs </pre>
        <pre> $ yarn add dotenv </pre>
        <p>To learn more about <a href="https://expressjs.com/">Express</a></p>

      </main>
      <!-- footer -->
      
      <% include ../partials/footer %>

     
    </div>
  </body>
</html>
