<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Node Express API</title>
  </head>
  <body>
    
    <div class="wrapper container-fluid">
      <header class="jumbotron text-center">
        <% include ../partials/navbar %>
        <h3>About Express</h3>
      </header>
      <main class="container">
        <h4> # Introduction</h4>
        <p>This is an example application to teach how to use node, express, mongoDB, mongoose and ejs.In this application Creating, Reading, Updating and Deleting (CRUD) operatons are implemented. By building this application, students will learn:</p>
          <ul class="ul-list">
            <li class="list">How to route using different request methods</li>
            <li class="list">How to use different middlewares</li>
            <li class="list">How to serve static files</li>
            <li class="list">How to create mongoose schema</li>
            <li class="list">How to store data in mongoDB</li>
            <li class="list">How to render data to ui using ejs a templating engine</li>
          </ul>
        
        <h4> # Express</h4>
        <p class="about-express">
          Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and
          mobile applications.
        </p>
        <h4> # Necessary pacakges to build this application:</h4>
        <pre> $ yarn add express</pre>
        <pre> $ yarn add body-parser</pre>
        <pre> $ yarn add mongoose </pre>
        <pre> $ yarn add ejs </pre>
        <pre> $ yarn add dotenv </pre>
        <h4> # Check out the official website to learn more about <a href="https://expressjs.com/" class="link" target="_blank" >Express</a></h4>
        <h4> # Source code of this application is on <a href="https://github.com/Asabeneh/express-node-api" class="link" target="_blank">github</a>:</h4>

      </main>
      <!-- footer -->
      
      <% include ../partials/footer %>

     
    </div>
  </body>
</html>
