<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <title>Node Express API</title>
</head>

<body>

  <div class="wrapper container-fluid">
    <header class="jumbotron text-center">
      <% include ../partials/navbar %>
      <h3>Public API</h3>
    </header>
    <main class="container">
        <p>Our public API is available free of charge.</p>
        <p>Students data API endpoint: <a href="https://node-express-api-v1.herokuapp.com/api/v1/students"  target="_blank" class="link">https://node-express-api-v1.herokuapp.com/api/v1/students</a></p>
    </main>
    <!-- footer -->

    <% include ../partials/footer %>

  </div>


</body>

</html>