<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node Express API</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/api/v1/students">API</a></li>
      </ul>
      <h1>Welcome Home</h1>
    </header>
    <h2>Front End Technologies</h2>
    <img src="/assets/images/html.png" alt="HTML logo" />
    <img src="/assets/images/css.png" alt="CSS logo" />
    <img src="/assets/images/js.png" alt="JS logo" />
    <img src="/assets/images/react.png" alt="React logo" />
    <h2>Back End Technologies</h2>
    <img src="/assets/images/node.png" alt="Node logo" />
    <img src="/assets/images/mongodb.png" alt="mongodb logo" />
    <img src="/assets/images/python.png" alt="python logo" />
  </body>
</html>
