<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../partials/head %>
  <title>Node Express API</title>
  </head>
  <body>
   
<div class="wrapper container-fluid">
  <header class="jumbotron text-center">
    <% include ../partials/navbar %>
    <h3>Express web Application</h3>
  </header>
  <main class="container">
    <div class="row">
        <h3>Front End Technologies</h3>
        <div class="web-tech">
          <div><img src="/assets/images/html.png" alt="HTML logo" /></div>
          <div><img src="/assets/images/css.png" alt="CSS logo" /></div>
          <div><img src="/assets/images/js.png" alt="JS logo" /></div>
        </div>
        <h3>Back End Technologies</h3>
        <div class="web-tech">
          <div><img src="/assets/images/node.png" alt="Node logo" /></div>
          <div><img src="/assets/images/mongodb.png" alt="mongodb logo" /></div>
          <div><img src="/assets/images/mongoose.png" alt="mongoose logo" /></div>
      </div>
    </div>
    
  </main>
  <!-- footer -->
 
  <% include ../partials/footer %>

</div>

    
  </body>
</html>
